/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my reset */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

a {
  text-decoration: none;
}

/* Top navigation */

header{
    width: 100%;
    height: 59px;
    background-color: white;
    border-bottom: 1px solid #DCDCDC;
    display:flex;
    justify-content: space-between;
}

.left {
  display: flex;
}

#home{
  background: url(assets/logos.svg) no-repeat;
  background-size: 159px;
  width: 175px;
  height: 19px;
  margin: 1.2em 2.5em 0 40px;
}

.left ul{
  display: flex;
  margin-right: 2em;
}

.left > ul li a{
    display: block;
    height: 100%;
    padding: 22.5px 15px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #80809E;
    vertical-align: baseline;
}

.right {
  display: flex;
    margin-left: 0;
    justify-content: space-between;
    float: right;
}

#search {
    box-shadow: -1px 0 #DCDCDC;
    padding: 1.2em 0 1.2em 1.5em;
    display: flex;
    flex-grow: 2;
}

#search i {
  transform: rotateY(180deg );
  color: #4c4c4c;
  margin-top: 1px;
    margin-right: 0;
}

.material-icons.md-21 { font-size: 21px; }

header form {
    width: 80%;    
}

header form input {
  border: none;
  height: 1.4em;
  margin-left: 8%;
}

header input:placeholder-shown, header input, header input:focus {
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

#profile {
  display: block;
  padding: 16px 0 16px 18px;
  border-left: solid 1px #DEDEDE;
  float: right;
}

#profile img{
    width: 26px;
    height: 25px;
    border-radius: 50%;
}

#profile i{
    margin-right: 10px;
    margin-left: -8px;
    color: #80809E;
}

.material-icons.md-24 { font-size: 24px; }

#profile:hover, .left ul li a:hover {
  background-color: #F7F5F2;
}

/* dropdown */

#nav_dropdown{
    display: none;
    text-align: left;
    background-color: white;
    border: solid 1px #DEDEDE;
    top: 59px;
    width: 280px;
    right: 0;
    position:absolute;
    z-index: 2;
}

#dropdown1 {
    padding: 30px;

}

#dropdown1 p, #dropdown1 a {
    font-size: 14px;
    height: 30px;
    line-height: 30px;    
}

#nav_dropdown a {
    color: #2752ff;
    font-weight: 200;
}

.list {
    margin-bottom: 20px;
}



#dropdown1 p {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

#nav_dropdown a:hover {
    color: #020621;
}

#dropdown2 {
    color: #3D3D66;
    padding: 30px;
    background-color: #F7F7F9;
}

#dropdown2 b {
    font-weight: bolder;
}

#dropdown2 p, #dropdown2 a {
    font-size: 12px;
    line-height: 16.8px;    
}

/* Hero area */
#hero {
    text-align: center;
    height: 580px;
}


#hero1 {
    background: url("https://d3mlfyygrfdi2i.cloudfront.net/homepage-hero-watch-o.jpg") no-repeat center;
    background-size: cover;
    height: 580px;

}

#hero h1 {
    padding-top: 13%;
    font-size: 4em;
    font-weight: 200;
    color: white;
    margin-bottom: 20px;
}

#hero p {
    color: white;
    font-size: 22px;
    line-height: 30.8px;
    width: 60%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

#hero1 .button, #hero2 .button {
    padding: 18px 30px;
    border: 2px solid #2BDE73;
    background-color: #2BDE73;
    border-radius: 6px;
    font-size: 1em;
    color: white;
    font-weight: 400;
    display: inline-block;
}


#hero2 {
    background: url("https://d3mlfyygrfdi2i.cloudfront.net/opera.jpg") no-repeat center top;
    height: 580px;
    background-size: cover;

}

#hero3 .button {
    padding: 18px 30px;
    border: 2px solid #020621;
    background-color: #020621;
    border-radius: 6px;
    font-size: 1em;
    color: white;
    font-weight: 400;
    display: inline-block;
}


#hero3 {
    background: url("https://d3mlfyygrfdi2i.cloudfront.net/HPHero_2-o.png") no-repeat center;
    height: 580px;
    background-size: cover;   
}

#hero3 h1 {
    margin: 0 auto 20px auto;
    width: 80%;
}

#hero3 p {
    width: 50%;
}

sup { 
    vertical-align: super;
    font-size: smaller;
}



.unslider-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    opacity:0.5;   
}

.unslider-arrow i.material-icons{
    font-size: 50px;
    font-stretch: ultra-condensed;

}

/* Projects we love */

.clear {
    clear: both;
}

#loved {
    max-width: 1040px;
    margin:40px auto;
}

#loved_proj {
    width: 82%;
    float: left;
    padding-top: 40px;

}

.title {
    height: 30px;
    margin-bottom: 30px;
}

.title h3 {
    font-size: 22px;
    float: left;
    line-height: 30px;
}

.title a {
    font-size: 12px;
    float: right;
    font-weight: 500;
    line-height: 22.4px;
    color: #3D3D66;
    margin-top: 5px;
}

#content {
    height: auto;
}

#content > a {
    float:left;
/*    margin-right: 20px;*/
    padding-left: 0;
    width: 50%;
}

#content > a img {
    width: 100%;
}

#description {
    width: 50%;
    margin-left: 50%;
    padding-left: 20px;
}

#description h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 20px;
}

#description a {
    color: #060F46;
}

.author {
    color: ##3D3D66;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 16.8px;
    font-weight: 300;
}

#description > p {
    color: #3D3D66;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#tags {
    line-height: 16.8px;
    font-size: 0.75rem;
    margin-bottom: 31px;
}

#tags a {
    color:#80809E;
    font-weight: 400;
    line-height: 16.8px;
    margin-right: 20px;
}

.material-icons.md-16 {
    font-size: 16px; 
    width: 16px;
    height: 16px;
    margin-right: 3px;
    position: relative;
    top:2px;
}

.material-icons.md-14 {
    font-size: 14px; 
    width: 16px;
    height: 16px;
    margin-right: 4px;
    position: relative;
    top:2px;
}

a#heart {
    padding: 10px 12px;
    background-color: #586BE9;
    border-radius: 18px;
    color: white;
    font-size: 11px;

}

.progress{
    height: 8px;
    background-color: #F1EEEA;
    border-radius: 4px;
    margin-bottom: 10px;
}

.progress span {
    background-color: #2BDE73;
    height: 100%;
    width: 17%;
    display: block;
    border-radius: 4px;
}

.data {
    display: flex;
}

.stats {
    margin-right: 20px;
}

.stats > p {
    font-size: 12px;
    line-height: 19.2px;
    color: #3D3D66;
}

#index {
    width: 12.5%;
    margin-left: 40px;
    margin-top: 20px;
    float: right;
    display: inline-block;
}

#index ul {
    box-shadow: inset 1px 0px 0px #dfdcda;
}

#index li a {
    color: #020621;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
    font-variant-ligatures: 16px;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}

#index li {
/*    border-left: 1px solid #dfdcda;*/
    padding-left: 20px;
}
#index .selected {
    border-left: 3px solid #2BDE73;
}

#index .selected a {
    color: #2BDE73;
    border-bottom: 1px solid #2BDE73;
}

#index li a:hover {
    color: #2BDE73;
    border-bottom: 1px solid #2BDE73;
}

.line {
    width: 100%;
    padding-top: 40px;
    border-bottom: 1px solid #dfdcda;
}


/* Recommended projects */


.recommended {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;

}

.recommended .title {
    padding:0 20px;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 40px;

}

.recommended .title a {
    padding: 7px 10px;
    border: 1px solid #3D3D66;
    border-radius: 4px;
    line-height: 12px;
    margin:0 20px;
}

.projects {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.projects > div {
    margin: 0 -20px;
}

.col {
    width: 33%;
    height: 440px;
    float: left;
    padding:0 20px;
    position: relative;
    box-sizing: border-box;

}

.img {
    border: 1px solid #dfdcda; 
    border-radius: 6px;
    height: 100%;

}

.col img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.details {
    padding: 10px;
}

.details h2 {
    color:#020621;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

a.author {
    color: #3D3D66;
}

.material-icons.md-14 {
    font-size: 14px; 
    width: 16px;
    height: 16px;
    margin-right: 2px;
    position: relative;
    top:2px;
}

#recommende .md-14 {
    color: #3D3D66;
}


.details .progress {  
    margin-top: 10px;
    line-height: 18px;
}

.details a.author {
    display: block;
}

.details .data {
    bottom: 10px;
}

.details > div {
    position: absolute;
    bottom: 10px;
    width: 80%;
}

.details .stats {
    font-size: 12px;
}

.details .stats p {
    font-weight: 300;
}

.details .stats h1 {
    font-weight: 500;
}


.curated {
    display: flex;
    margin: 0 -20px;
    margin-bottom: 20px;
}

.curated a {

    width: 16.67%;
    padding: 0 20px;
}

.curated img {
    box-sizing: border-box;
    width: 100%;    
 
    border: 1px solid #dfdcda;
}

#more {
    background-color: #F8F9FD;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

#more h1 {
    color: #020621;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
}

#more pre {
    color: #3D3D66;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 300;
    margin-bottom: 20px;
}


#more a {
    color:white;
    background-color: #2BDE73;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 6px;
    font-weight: 500;
}

/* Footer */

footer {
    background-color: #020621;
    padding: 40px 0;
}

#footer_top {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;

}

.f-col {
    width: 25%;
    padding: 0 20px;
}

.f-col > div {
    height: 26px;
}

.f-col h1 {
    color: #F1EEEA;
    margin-bottom: 10px;
}

.f-col span {
    color: white;
    font-size: 10px;
    background-color: #2BDE73;
    margin-left: 4px;
    padding: 2px 4px;
    border-radius: 2px;
}

.f-col a {
    color: #F1EEEA;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

#footer_bottom {
    border-top: solid 1px #3D3D66;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    
}

#f_logo img {
    height: 17px;
    width: 175px;
}


#f_left p {
    color: #80809E;
    line-height: 21px;
}

#f_right {
    display: flex;
}

#social {
    margin-top: 10px;
}

#social a {
    color: white;
    margin-right: 5px;
    font-size: 14px;
    padding: 10px 2px;
}


#f_right > a {
    color: #F1EEEA;
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #80809E;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

#f_right > a i {
    line-height: 14px;
    margin-left: 10px;  
}

/* breakpoints */

@media (max-width:940px) {
  #about {
    display: none;
  }
  .left ul{
    margin-right: 0;
  }
}


@media (max-width:780px) {
    #index {
        display: none;
    }
    #loved_proj {
        width:90%;
        margin-left:20px;
        margin-right:20px;
    }
}